<h1><%= @school.to_s %></h1>

<h2><% @students.each do |student|%></h2>
    <div>
        <%= link_to student.to_s, student_path(student) %>
        <%= button_to 'Delete Student', "/students/#{student.id}", method: :delete %> 
    </div>

    
<% end %>